$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

.left {
  float: left;
}

.right {
  float: right;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  width: 1200px;
}

.background {
  &-gray {
    background: $gray;
  }
  &-lightgray {
    background: $lightgray;
  }
}

.fit {
  @each $bn, $bv in ('sm', $sm), ('md', $md), ('lg', $lg), ('xl', $xl) {
    @media all and (min-width: #{$bv}) {
      &-#{$bn}-width {
        width: 100%;
      }
      &-#{$bn}-height {
        height: 100%;
      }
    }
    @media all and (max-width: #{$bv}) {
      &-#{$bn}-down-width {
        width: 100%;
      }
      &-#{$bn}-down-height {
        height: 100%;
      }
    }
  }
  &-width {
    width: 100%;
  }
  &-height {
    height: 100%;
  }
}

.splitter {
  &-left, &-right {
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 1px;
      top: 0;
      background: linear-gradient(to top, transparent 20%, $yellow 50%, transparent 80%);
    }
  }
  &-left {
    &:before {
      right: 0;
    }
  }
  &-right {
    &:before {
      left: 0;
    }
  }
}

.font {
  &-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  &-white {
    color: #fff;
  }
  &-light {
    font-weight: 300;
  }
}

@media all and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
}
