$yellow: #FEEF07;
$lightgray: #4B4B4B;
$gray: #272727;
$darkwhite: #f9f9f9;

@import 'bootstrap.min';
@import 'bootstrap-theme';
@import 'utility';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway:300,300i,400');

@import 'select';

body {
  background: $gray !important;
  font: 400 14px 'Raleway', sans-serif;
}

#main-nav, #main-footer {
  height: 80px;
  background: #000;
  width: 100%;
}
#main-nav {
  border-bottom: 2px $yellow solid;
  color: $yellow;
}
#main-footer {
  position: absolute;
  bottom: 0;
  border-top: 2px $yellow solid;
  z-index: -1;
  font: 300 14px 'Open Sans Condensed', sans-serif;
}
main {
  height: calc(100vh - 160px);
  min-height: 600px;

  .container {
    height: 600px;
    @extend .center-vertical;

    .select {
      margin-bottom: 15px;
    }
  }
}

#chat {
  height: calc(100vh - 80px - 37px - 15px);
  overflow-y: auto;
  margin: 0 auto;
  padding: 20px 50px;
  background: $lightgray;
  &::-webkit-scrollbar {
    display: none;
  }

  .message {
    margin-bottom: 10px;
    overflow: hidden;

    & > * {
      padding: 5px 10px;
      border-radius: 2px;
      max-width: 450px;
      word-break: break-all;
    }
    .server {
      color: #fff;
      font-size: .8rem;
      text-align: center;
      padding: 0;
      margin: auto;
    }
    .me {
      background: #adf;
      float: left;
    }
    .partner {
      background: #e5f59a;
      float: right;
    }
    img {
      object-fit: contain;
      width: 100%;
    }
  }
}

#chat-controls {
  @extend .row;
  margin: 0 !important;
  padding: 0 0 15px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    height: 10px;
    width: 100%;
    background: linear-gradient(to top, darken($lightgray, 10%), transparent);
  }

  div[class^="col-"] {
    padding: 0;
  }
  #v {
    @extend .form-control;
  }
  #u {
    display: none;
  }
  button {
    @extend .btn;
    @extend .btn-primary;
  }
}

@import 'rwd/rwd_640_320';